*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
body {
    background-color: #d9f0ff;
    padding: 40px;
    /* margin: auto; */
}
header {
    max-width: 600px;
    height: 100px;
    margin: 40px auto;
    background-color: rgb(19, 19, 244);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_row {
    max-width: 600px;
    height: auto;
     margin: 40px auto;
    background-color: aliceblue;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(19, 19, 244);
    box-shadow: 0 8px 25px rgba(0,0,0,.15);
    border-radius: 20px;
    /* justify-content: space-between; */
}
.signup_row input {height: 40px; padding: 5px 10px;}
.signup_row label { color: rgb(19, 19, 244);}

.signup_row label, 
.signup_row input {   margin-bottom: 15px;}