 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}
body {
    background-color: #caf0f8;}
  
header{
    max-width:100%;
    min-height:100px;
    background:#03045e;
    position: sticky;
    top: 0px;
    
margin: 10px auto;
    display:flex;
justify-content:space-between;
    align-items:center;
}

header img{
    width:80px;
    height:auto;
    margin-left: 2%;
    border: 3px solid white;
    border-radius: 13px;
}
nav{
    width: 100%;
    max-width: 1200px;

    flex: 1;
 }  
.menu {
     display: flex;
     text-align: center;
     justify-content: space-between;
}
.menu li {
    /* width: 250px; */
    list-style: none;
    position: relative;
}
.menu li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition:.3s;
}
.menu li a:hover{
    background-color: blueviolet;
    color: wheat;
}
/* drwodown */
.sub_menu {
    width: 250px;
    display: none;
    background-color: black;
    position: absolute;
    top:100%;
    left: 0;
     z-index:999;
     transition: .3s;
}
.sub_menu li {
    width: 100%;
}
.sub_menu li a{
    padding: 15px;
}
.sub_menu li a:hover{
    background-color: blue;
    color: white;
}
.menu li:hover .sub_menu {
    display: block;
}
.SignUpbtn {
    width: 120px;
    height: 55px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  white;
    text-decoration: none;
    margin-right: 2%;
    font-size: 20px;
    transition: all .2s ease-in 0s;
}
.SignUpbtn:hover{
    background-color: rgb(4, 4, 118);
}

/* main   {
    height: 3000px;
    background-color: red;
    padding: 30px;
} */
 
